.main {
  width: 60%;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
}

.tab {
  width: calc(100%/8);
  height: 50px;
  background-color: black;
  color: white;
  line-height: 50px;
  font-size: 15px;
  text-align: center;
  display: block;
  float: left;
  order: -1;
  /* display: none; */
}

.active {
  background-color: pink;
  color: black;
}

.content {
  display: none;
  width: 100%;
}

.show {
  display: block;
}
